<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    
    <title>Blogapp</title>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div id="navbar" class="ui container">
            <div class="header item"><i class="fas fa-atom"></i>   Physics Blog</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>

        </div>

    </div>
    
